@keyframes onda {
    0%{
        transform: scale(1);
    }
    15%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(2.5);
    }
    }
    
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
    }

