.whatsapp{

    position: fixed;
    width:45px ;
    bottom: 2px;
    height:45px ;
    right: 10px;
    .whatsapp::before,
    .whatsapp::after{
        content: "";
        position:absolute;
        top: 2px;
        left: 4px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(208, 0, 255);
        opacity: 0;
        animation: onda 1.7s infinite;
    
        
    }
    
    .whatsapp::before{
        animation-delay: 1s;
    }
    .whatsapp::after{
        animation-delay: 1.3s;
    }
    
    .whatsapp img{
        position: fixed;
        width:45px ;
        right: 5px;
        height: 45px ;
      z-index: 100; 
      
    }
}